/* static/css/list.css */

.post-it {
    display: block;
    width: 16.5rem;
    height: 14rem;
    padding: 1.5em;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.25rem hsla(0, 0%, 0%, 0.1);
    background-image: linear-gradient(180deg, hsla(0, 0%, 45%, 0.1) 2rem, hsla(0, 100%, 100%, 0) 2.5rem),
        linear-gradient(180deg, hsla(200, 100%, 85%, 1), hsla(200, 100%, 85%, 1));
    font-size: 1.125rem;
    line-height: 1.8;
}
